*.h5
goviisuru.pem

# Python virtual environment
venv/
ai-service/venv/
__pycache__/
ai-service/venv311/

# Python packages
*.pyc
*.pyo
*.pyd

# OS files
.DS_Store
Thumbs.db

# IDE / editor files
.vscode/
.idea/

.env

.venv
.venv-1